.logout-container {
  background-color: var(--container-background-color);
  margin: 1rem;
  padding: 1rem;
}

.logout-section-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px dashed var(--border-color);
}

.logout-information {
  display: flex;
  flex-direction: column;
}
